%title Sign In!

%h1{ :style => "text-align: center;" } Sign In

%div{ :style => "text-align: center;" }
  = form_tag login_create_path do

    = label :session, :email, "Email"
    = text_field :session, 'email', :size => '30', :placeholder => "Enter Your Email"

    = label :session, :password, 'Password'
    = password_field :session, 'password', :size => '30', :placeholder => "Enter Your Password"

    %br 
    %br
    = submit_tag 'Login to my account', :class => "btn btn-success"
  %br  
  %u= link_to "Don't have an account. Sign Up!", new_user_path, :class => "btn btn-link"