%p#notice= notice
= link_to 'New Meeting', new_meeting_path
= button_to 'Calendar View', view_calendar_path, :method => :get
%br
%h3 Search by Interest Groups
%br
= form_tag meetings_search_path do
  %table#search_choices
    %thead
      %tr
        %th Genre Name
        %th Select
    %tbody
      - @interests.each do |interest_type|
        %tr
          %td= interest_type[:genre] 
          %td= check_box_tag "selected_groups[#{interest_type[:id]}]"
  = submit_tag 'Search'

%h1 Meetings
%table{:style=>"border: 5px; width: 100%"}
  %thead
    %tr
      %th Name
      %th Date
      %th Time
      %th{:colspan => "3"}
  %tbody
    - @meetings.each do |meeting|
      %tr
        %td= meeting.name
        %td= meeting.start_time.mday
        %td= meeting.approx_time
        - if @current_user then
          %td= link_to 'Join', meetings_add_path(:meeting => meeting.id, :user => @current_user.id)
        - else
          %td= link_to 'Login to Join', meetings_path
        %td= link_to 'Interests', meetings_view_path(:meeting_id => meeting.id)
        %td= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }
%br