%title Events
-if @current_user
  = button_to 'Create New Meeeting', new_meeting_path, :method => :get
= button_to 'List View of Meeetings',meetings_path, :method => :get
= link_to 'Sign-In with Google+ to add to calendar', '/auth/google_oauth2'
%div{ :style => "text-align: center;" }
  %h3 Event Calendar for this month:
  
%br
= month_calendar events: @meetings do |date, meetings|
  = date.mday
  -meetings.each do |meeting|
    = meeting.name

       