%title Sign Up!
%h1{ :style => "text-align: center;" } Sign Up
      
%div{ :style => "text-align: center;" }
  -unless @user ==nil
    -if @user.errors.any?
      %ul
      -@user.errors.full_messages.each do |msg|
        %li{ :style => "color: maroon;" } #{msg}
  %br
  = form_tag users_path do

    = label :user, :first_name, 'First Name'
    = text_field :user, 'first_name', :size => '30', :placeholder => "Enter your First Name"
  
    = label :user, :last_name, 'Last Name'
    = text_field :user, 'last_name', :size => '30', :placeholder => "Enter your Last Name"
  
    = label :user, :email, 'Email'
    = text_field :user, 'email', :size => '30', :placeholder => "Enter your Email Address"
  
    = label :user, :password, 'Password'
    = password_field :user, 'password', :size => '30', :placeholder => "Enter your Password"
    
    = label :user, :password_confirmation, 'Password Confirmation'
    = password_field :user, 'password_confirmation', :size => '30', :placeholder => "Re-enter your Password"
    
    = label :user, :position, 'Position'
    = select :user, :position, ['User','Staff', 'Admin'], {}, :onChange => "positionChange(this);", :id => "role_position"

    = text_field nil, 'position_code', :size => "21", :placeholder => "Enter your Position Code", :id => "position_code"

    %br
    %br
    = submit_tag 'Create my account', :class => "btn btn-success"