%title My Profile!
%h3{ :style => "text-align: center; border-bottom: 2px solid #d9534f;" } My Profile

%div{ :style => "text-align: center;" }
    %table#profile
        %thead
            %tr
                %th{ :style => "text-align: center;" }
                    %h4 Email: 
                    %h5= @user.email
                %th{ :style => "text-align: center;" }
                    %h4 First Name:
                    %h5= @user.first_name
                %th{ :style => "text-align: center;" }
                    %h4 Last Name:
                    %h5= @user.last_name
                %th{ :style => "text-align: center;" }
                    %h4 Position Level:
                    %h5= @user.position
    %br
    %br
    %h4 Change Password:
    -unless @user ==nil
        -if @user.errors.any?
            %ul
            -@user.errors.full_messages.each do |msg|
                %li{ :style => "color: maroon;" } #{msg}
    = form_tag user_path(@current_user), :method => :put do
        = label :user, :current_password, 'Current Password'
        = password_field :current_password, nil, :size => '30', :placeholder => "Enter Current Password"
        = label :user, :password, 'New Password'
        = password_field :password, nil, :size => '30', :placeholder => "Enter New Password"
        = label :user, :password_confirmation, 'New Password Confirmation'
        = password_field :password_confirmation, nil, :size => '30', :placeholder => "Re-enter New Password"
        %br
        %br
        = submit_tag 'Submit New Password', :class => "btn btn-danger"
