%h1 Delete a Book

= form_tag books_delete_path do
  %br
  = label :book, :title, 'Enter Book Title:'
  = text_field :book, 'title'
  %br
  = label :book, :author, 'Enter Book Author:'
  = text_field :book, 'author'
  
  = submit_tag 'Save Changes'