%div{ :style => "text-align: center;" }
  %h1 Delete a Book

  -if (@current_user && @current_user.position != "User")
    = form_tag deletebook_path do
      %br
      = label :book, :title, 'Enter Book Title:'
      = text_field :book, 'title'
      %br
      = label :book, :author, 'Enter Book Author:'
      = text_field :book, 'author'
      %br
      = submit_tag 'Save Changes'
  -else
    Users cannot delete books!!
  end