%div{ :style => "text-align: center;" }
  %h2 Search Results by ISBN:
  -if (@books_isbn == 'No Books found!')
    =@books_isbn
  -else
    %table#books{ :style => "display: inline-table;" }
      %thead
        %tr
          %th ISBN
          %th Title
          %th Author
          %th Publication Year
          %th Category
          %th Edition
        %tbody
          %tr
            %td= @books_isbn.isbn 
            %td= @books_isbn.title
            %td= @books_isbn.author
            %td= @books_isbn.publication_year 
            %td= @books_isbn.category
            %td= @books_isbn.edition
  %br
  %br
  %h2 Search Results by TITLE:
  - if (@books_title == 'No Books found!')
    =@books_title
  - else
    %table#books{ :style => "display: inline-table;" }
      %thead
        %tr
          %th ISBN
          %th Title
          %th Author
          %th Publication Year
          %th Category
          %th Edition
        %tbody
          %tr
            %td= @books_title.isbn 
            %td= @books_title.title
            %td= @books_title.author
            %td= @books_title.publication_year 
            %td= @books_title.category
            %td= @books_title.edition
  %br
  %br
  %h2 Search Results by Author:
  - if (@books_author == 'No Books found!') then
    =@books_author
  - else
    %table#books{ :style => "display: inline-table;" }
      %thead
        %tr
          %th ISBN
          %th Title
          %th Author
          %th Publication Year
          %th Category
          %th Edition
        %tbody
          %tr
            %td= @books_author.isbn 
            %td= @books_author.title
            %td= @books_author.author
            %td= @books_author.publication_year 
            %td= @books_author.category
            %td= @books_author.edition