%title Users following #{@current_user.email}!
%h3{ :style => "text-align: center; border-bottom: 2px solid #d9534f;" } All Users following you
- if @current_user.followers.empty?
    %h2{ :style => "font-size: 90%; color: Maroon; text-align: center;" } You're currently not followed by anyone!
- else
    - @current_user.followers.each do |followed|
        %div{:class => "panel panel-info center-block", :style => "width : 50%; text-align: center;"}
            %div{:class => "panel-heading"}
                You're followed by
                %u{ :style => "font-size: 110%; color: Maroon;" } #{followed.follower.first_name} #{followed.follower.last_name}
                since #{Date.parse(followed.created_at.to_s)}
                %br
                - if followed.follower.reviews.count >= 3
                    =image_tag("prime.png", height: '35', width: '35')
            %div{:class => "panel-body"}
                %b First Name : #{followed.follower.first_name}
                %br
                %b Last Name : #{followed.follower.last_name}
                %br
                %br
                %table{ :style => "display: inline-block;" }
                    %tbody
                        %tr
                            %td
                                %a{href: "#", :data => {:toggle => 'modal', :target => "#myModalAllReviews#{followed.follower.id}"}, :class => "btn btn-default"} View Reviews
                                %div{:class => "modal fade", :id => "myModalAllReviews#{followed.follower.id}", :role => "dialog"}
                                    %div{:class => "modal-dialog modal-md"}
                                        %div{:class => "modal-content"}
                                            %h3{ :style => "font-size: 120%;color: Green;" }
                                                %div{:class => "modal-header", :style => "color: Green;"}
                                                    = button_to "x", nil, :class => "close", :data => {:dismiss => "modal"}
                                                    All Reviews by 
                                                    %u{ :style => "font-size: 110%; color: Maroon;" } #{followed.follower.first_name} #{followed.follower.last_name}
                                                    %br
                                                    - if followed.follower.reviews.count >= 3
                                                        =image_tag("prime.png", height: '35', width: '35')
                                            %div{:class => "modal-body", :style => "display: inline-table; color:Maroon; width: 95%" }
                                                - if followed.follower.reviews.count > 0
                                                    - followed.follower.reviews.each do |review|
                                                        %div{:id => "allReview_#{review.id}", :class => "panel panel-info center-block"}
                                                            %div{:class => "panel-heading"}
                                                                %b=button_to "#{review.book.title} by #{review.book.author}", book_path(review.book.id), :class => "btn btn-link", :method => :get
                                                            %div{:class => "panel-body", :style => "color: Black;"}
                                                                Posted on #{Date.parse(review.user.updated_at.to_s)}
                                                                %h2{ :style => "font-size: 100%;" } Rating : 
                                                                =image_tag("star_img/#{review.star}star.png", height: '19', width: '90')
                                                            %div{:style => "display: inline-table; width: 95%; color: Black;" }
                                                                %h2{ :style => "font-size: 100%;" } Comment:
                                                                #{review.comment}
                                                - else
                                                    %b #{followed.follower.first_name} #{followed.follower.last_name} hasn't posted any reviews
                                                    %br
                                                    %br
                                            %div{:class => "modal-footer", :style => "text-align: center;"}
                                                = button_to "Close", nil, :class => "btn btn-default", :data => {:dismiss => "modal"}