!!!
%html
  %head
    %title BadReads!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title BadReads!
    
    -if !@current_user
      %table#signupsignin
        %tbody
          %tr
            %td= button_to 'Sign In', login_path, :class => "signin", :method => :get
            %td= button_to 'Sign Up', new_user_path, :class => "signup", :method => :get
    -else
      Welcome "#{@current_user.first_name} #{@current_user.last_name}! (Email: #{@current_user.email})"
      = button_to 'Log Out', logout_path, :class => 'signout', :method => :delete

    #main
      %div{ :style => "text-align: center;" }
        - if flash[:notice]
          #notice.message= flash[:notice]
          %br
        - elsif flash[:warning]
          #warning.message= flash[:warning]
          %br
      = yield
