!!!
%html
  %head
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %h1.title BadReads!
    -if !@current_user
      %table
        %tbody
          %tr
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Home', root_path, :class => "btn btn-danger", :method => :get
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'All Books', allbooks_path, :class => "btn btn-primary", :method => :get
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Sign In', login_path, :class => "btn btn-primary", :method => :get
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Sign Up', new_user_path, :class => "btn btn-primary", :method => :get
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Events', view_calendar_path, :class => "btn btn-primary", :method => :get
    -else
      %table
        %tbody
          %tr
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Home', root_path, :class => "btn btn-danger", :method => :get
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'All Books', allbooks_path, :class => "btn btn-primary", :method => :get
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'My Profile', user_path(@current_user), :class => "btn btn-primary", :method => :get
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Events', view_calendar_path, :class => "btn btn-primary", :method => :get
            -if @current_user.position == "Admin"
              %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Add Position', new_staff_admin_path, :class => "btn btn-primary", :method => :get
            -if @current_user.position == "Admin" || @current_user.position == "Staff"
              %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Add Book', new_book_path, :class => "btn btn-primary", :method => :get  
              %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Delete Book', booksdelform_path, :class => "btn btn-primary", :method => :get  
            %td{ :style => "padding:0 5px 0 5px;"}= button_to 'Log Out', logout_path, :class => "btn btn-danger", :method => :delete
      %br
      %div{ :style => "text-align: right; padding-right: 5%" }
        %b Welcome #{@current_user.first_name} #{@current_user.last_name}! (Email: #{@current_user.email})
    #main
      %br
      %div{ :style => "text-align: center;" }
        - if flash[:notice]
          #notice.message= flash[:notice]
          %br
        - elsif flash[:warning]
          #warning.message= flash[:warning]
          %br
      = yield
